@use "../../assets/styles/_core.scss" as *;
@use "../../assets/styles/_mixins.scss" as *;

.landing_container{
  width: 100%;
  height: 100%;

  .page_content{
    background-color: blue;
  }// Page content
}// Landing container