@use "../../assets/styles/_core.scss" as *;
@use "../../assets/styles/_mixins.scss" as *;

.landing_container{
  @include flex-center(column);
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  width: 100%;
  height: 100%;

  .page_content{
    position: relative;
    @include flex-center(column);
    justify-content: flex-start;
    z-index: 1; // below the header
    top: 0;
    width: 100%;
    height: 200vh; // fake height for scrolling
    min-height: 100vh;
    background-color: blue;
  }// Page content
}// Landing container