@use "../../assets/styles/_core.scss" as *;
@use "../../assets/styles/_mixins.scss" as *;

/*================================================= */

.home_container {
    position: relative;
    @include flex-center(column);
    justify-content: flex-start;
    gap: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;

    .page_content {
        @include flex-center(column);   
        justify-content: flex-start;     
        width: 100%;
        height: 100vh;
        background-color: blue;
    }
}