/* @use "@/assets/styles/_core.scss" as *; */

/*WARN:  MIXINS - TO TRANSFER TO RESPECTIVE FILE AFTER PROBLEM RESOLUTION */
@mixin flex-center($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
  gap: 1rem;
}

@mixin colorless-btn {
  border: none;
  background-color: transparent;
}

/*================================================= */

/*WARN: VARIABLES - ALSO TO MOVE TO RESPECTIVE FILE ...*/

:root {
  /* For consistency in the design */
  --border-radius: 0.6rem;

  /* Color scheme */
  --primary-color: #242424;
  --secondary-color: ;
  --accent-color: ;
}

/*================================================= */

.home_container {
    position: relative;
    @include flex-center(column);
    justify-content: flex-start;
    gap: 0;
    width: 100%;
    min-height: 100vh;
    height: 100%;

    .page_content {
        @include flex-center(column);   
        justify-content: flex-start;     
        width: 100%;
        height: 100vh;
        background-color: blue;
    }
}