/* @use "@/assets/styles/_core.scss" as *; */

/*WARN:  MIXINS - TO TRANSFER TO RESPECTIVE FILE AFTER PROBLEM RESOLUTION */
@mixin flex-center($direction: row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
  gap: 1rem;
}

@mixin colorless-btn {
  border: none;
  background-color: transparent;
}

/*================================================= */

/*WARN: VARIABLES - ALSO TO MOVE TO RESPECTIVE FILE ...*/

:root {
  /* For consistency in the design */
  --border-radius: 0.6rem;

  /* Color scheme */
  --primary-color: #242424;
  --secondary-color: ;
  --accent-color: ;
}

/*================================================= */

.sign_container {
  
  /* Sass Variables local and relevant to this page*/
  --form-width: 30rem;
  $form-height: max-content;
  $form-padding: 1rem;
  // Turns out scss variables defined within a given block aren't accessible outside it,
  // even in a media query of the same block. SOLUTIONS:
  // ( declare it outside, append `!global` -not recommended for maintenability , CSS custom properties)
  --container-border-radius: 1.7rem;


  @include flex-center;
  justify-content: space-between;
  gap: 0;
  width: 100vw;
  max-width: 1300px;
  height: 43rem;
  border-radius: var(--container-border-radius);
  overflow: hidden;

  // LOGO styling
  .logo {
    --logo-font-size-lg: 3rem;
    --logo-font-size-sm: 8px;
    --logo-total-width: calc((var(--logo-font-size-lg)) + 1px);


    @include flex-center(column);
    // width: var(--logo-total-width);
    width: max-content;
    gap: 3px;
    padding: 0;
    margin: 0;
    border: 1px solid black;

    h1.main_char {
      line-height: 0.5;
      font-size: var(--logo-font-size-lg);
    }

    p.subset_text {
      font-size: var(--logo-font-size-sm);
    }
  }

  /* LEFT CONTENT - GRAPHIC */
  .left_content {
    position: relative;
    height: 100%;
    width: 50%;
    background-color: var(--primary-color);
    
    .graphic {
      height: 100%;
      border-radius: var(--container-border-radius);
      overflow: hidden;
    }

    .text_content {
      @include flex-center;
      justify-content: space-between;
      padding: 0 1rem;
      position: absolute;
      top: 1rem;
      left: 0;
      width: 100%;
      height: 2.5rem;
      color: #000;
      font-size: 1.5rem;
    
      button {
        @include flex-center;
        height: 2.5rem;
        padding: 0.5rem 1rem;
        border-radius: var(--border-radius);
        font-size: 1rem;        
      }
    }
  }

  /* FORM */
  .right_content {
    @include flex-center;
    height: 100%;
    width: 50%;
    background-color: var(--primary-color);
    
    .form {
      @include flex-center(column);
      gap: 0.8rem;
      width: var(--form-width);
      height: $form-height;
      padding: 0 $form-padding;
      align-items: flex-start;
      margin-right: 2rem;

      .text_content {
        p.instruction {
          font-size: 0.8rem;
        }
      }

      .accounts_container {
        @include flex-center;
        margin: 0.5rem;

        .account {
          @include flex-center;
          gap: 0.5rem;
          border: none;
          border: 1px solid #b8b4b4;
          border-radius: var(--border-radius);
          padding: 0.3rem;
        }
      }

      .or_container {
        @include flex-center;
      }

      .line {
        height: 1px;
        background-color: #FFF;
        transform: scale(0.9);
      }

      .to_sign_up {
        @include flex-center;
        gap: 0;
        justify-content: space-between;

        .link {
          justify-content: flex-end;
        }
      }

      div {
        width: 100%;
        @include flex-center(column);
        gap: 0.1rem;
        align-items: flex-start;

        .label_container {
          @include flex-center;
          justify-content: flex-start;
          gap: 0.5rem;

          .asterisk {
            color: rgb(241, 143, 143);
          }
        }

        input {
          border: 1px solid #FFF;
          width: 100%;
          height: 1.5rem;
          padding: $form-padding;
          border-radius: var(--border-radius);
        }

        .password_info {
          font-size: 0.8rem;
          font-weight: 300;
          font-style: italic;
          padding-top: 0.2rem;
        }
      }

      .text_content {
        @include flex-center(column);
        gap: 0.2rem;

        p {
          font-size: 0.8rem;
        }
      }

      .names {
        @include flex-center;
      }

      .cta_btn {
        width: 100%;
        height: max-content;
        margin-top: 2rem;

        button {
          border: none;
          background-color: #dbedfa;
          width: 100%;
          height: 3rem;
          border-radius: var(--border-radius);
          color: #000;
          font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
          font-size: 1rem;
          font-weight: 700;
          letter-spacing: 0.1rem;
        }
      }


      .link {
        width: 100%;
        @include flex-center;
        font-size: 0.8rem;

        .forgot {
          border: none;
          background-color: transparent;
          text-decoration: underline;
          font-style: italic;
        }

        .colorless_btn {
          @include colorless-btn;
          text-decoration: underline;
        }
      }

      .form_footer {
        @include flex-center;
        text-wrap: nowrap;
        font-size: 0.8rem;

        .support_links {
          @include flex-center;
          justify-content: flex-end;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 820px) {
  .sign_container {
    flex-direction: column;
    gap: 0;
    height: max-content;
    border-radius: 0;

    /* LEFT CONTENT */
    .left_content {
      height: 10rem;
      width: 100%;

      .graphic {
        border-radius: 0 0 var(--container-border-radius) var(--container-border-radius);
      }
    }

    // FORM
    .right_content {
      width: 100%;
      height: max-content;

      .form {
        width: 90%;
        margin: 0;
      }
    }
  }
}

@media screen and (max-width: 520px) {
  .sign_container{
    // LEFT CONTENT
    .left_content {
      
      .text_content {
        padding: 0 0.5rem;
        
        button {
          font-size: 0.8rem;
          gap: 0.5rem;
        }
      }
    }
    
    // FORM
    .right_content {
      .form {
        width: 100%;

        .text_content {
          p.instruction {
            font-size: 0.7rem;
          }
        }

        .names {
          flex-direction: column;
        }
      }
    }
  }
}