@use "../../assets/styles/_core.scss" as *;
@use "../../assets/styles/_mixins.scss" as *;

// FOOTER THEMING
$primary-color: #000;
$secondary-color:  hsl(276, 10%, 30%);
$accent-color: hsl(0, 0%, 89%);

$text-color-heading: $secondary-color;
$text-color-links: $accent-color;
//TODO: lighten/darken text color on hover

// SASS VARIABLES
$footer-padding: 1rem;
$footer-spacing: 2.3rem;

// FOOTER CONTENT
$footer-content-height: 90%;
$footer-content-width: 90%;
$footer-content-spacing-vert: 0.3rem;

// FOOTER SEPARATOR LINE
$separator-height: 0.0525rem;
$separator-width: 95%;

// FOOTER SOCIAL ICONS
$footer-social-icons: 1.5rem;

.footer_container {
    position: relative;
    @include flex-center(column,0);
    padding-bottom: 2rem;
    width: 100%;
    height: max-content;
    background-color: $primary-color;
    
    // GENERAL TEXT STYLING
    color: $text-color-links;
    letter-spacing: 1px;

    // GENERAL
    h4 {
        color: $text-color-heading;
        letter-spacing: 2px;;
        margin-bottom: 0.5rem;
    }

    .merch_io {
        @include flex-center(row, 0);
        width: $footer-content-width;
        overflow: hidden;

        svg {
              width: 95%;
              height: max-content;

              -webkit-mask-image: linear-gradient(
                  to bottom,
                  $primary-color 0%,
                  $primary-color 50%,
                  transparent 100%
              );
              mask-image: linear-gradient(
                  to bottom,
                  $primary-color 0%,
                  $primary-color 50%,
                  transparent 100%
              );

              text {
                opacity: 0.4;
                font-size: 250px; // arbitrary - SVG scales it
                font-weight: 800;
                line-height: 1;
                fill: #FFF; //TODO: Or gradient
                transform: translateY(40%);
              }

        } // MERCH IO SVG
    }
    
    .footer_content_wrapper {
        // border: 1px solid white;
        @include flex-center(column, 2rem);
        width: $footer-content-width;
        max-width: $footer-content-width;
        border-radius: 0.5rem;
        
        // FADING OUT ILLUSION
        // Space to fade without hitting content    
        padding: $footer-padding; 
        -webkit-mask-image: linear-gradient(
            to right,
            transparent 0%,
            $accent-color 3%,
            $accent-color 97%,
            transparent 100%
        ),
        linear-gradient(
            to bottom,
            transparent 0%,
            $accent-color 3%,
            $accent-color 97%,
            transparent 100%
        );
        mask-image: linear-gradient(
            to right,
            transparent 0%,
            $accent-color 3%,
            $accent-color 97%,
            transparent 100%
        ),
        linear-gradient(
            to bottom,
            transparent 0%,
            $accent-color 3%,
            $accent-color 97%,
            transparent 100%
        );
        
        // This combines both gradients
        mask-composite: intersect;
        -webkit-mask-composite: source-in;

        // immmediate children
        & > * {
            width: 100%;
            height: max-content;
        }

        .footer_content {
            // border: 1px solid red;
            flex: 1;
            @include flex-center(row, $footer-spacing);
            align-items: flex-start;
            justify-content: space-between;
            flex-wrap: wrap;
            
            .links_container {
                @include flex-center(column, $footer-content-spacing-vert);
                align-items: flex-start;

                .link {
                    transition: all 0.35s ease;
                    &:hover {
                        color: lighten($text-color-links, 10%);
                        letter-spacing: 2px;
                        
                        // OR Slightly dimmer
                        // color: darken($text-color-links, 10%);  
                        // OR add some color:
                        // color: adjust-hue(lighten($text-color-links, 5%), 20deg);
                    }
                }
            }

            .contacts_container {
                @include flex-center(column, 1rem);
                align-items: flex-start;

                .contact {
                    $contact-button-height: 1.5rem;
                    @include flex-center(row, 0.5rem);
                    justify-content: flex-start;
                    gap: 1rem;
                    @include colorless-btn();
                    border: 1px solid $accent-color;
                    border-radius: 0.3rem;
                    padding: 0.4rem;
                    height: $contact-button-height;
                    font-size: calc($contact-button-height / 2);
                    font-weight: 600;
                    letter-spacing: 2px;
                    color: $text-color-links;
                    transition: all 0.4s ease;

                    &:hover {
                        letter-spacing: 3px;
                    }
                }
            }
        } // FOOTER CONTENT
        
        .social_links_container {
            @include flex-center(column, 0.5rem);

            & > * {
                width: 100%;
            }
            
            .separator {  
                width: $separator-width;
                height: $separator-height; 
                border: none;

                background: linear-gradient(
                    to right,
                    transparent,
                    /*var(--footer_accent_color),*/
                    #FFF,
                    transparent
                );        
            }// SEPARATOR
            
            .links{
                @include flex-center();
                height: $footer-social-icons;

                & > *{
                    width: $footer-social-icons;
                    height: $footer-social-icons; 
                    text-align: center;               
                } // LINKS DIRECT CHILDREN
    
                svg {
                    width: 100%;
                    height: 100%;
                    transition: all 0.4s ease;

                    &:hover {
                        transform: scale(1.2);
                    }
                }// SVGs

            } // LINKS

            small {
                @include flex-center();
                width: 100%;
                font-size: 0.7rem;
                font-style: italic;
                color: #7E6891;
            }
        } // SOCIAL LINKS CONTAINER
    } // FOOTER CONTENT WRAPPER
} // FOOTER CONTAINER

// MEDIA QUERIES
@media screen and (max-width: 768px){
    .footer_container{
        flex-direction: column-reverse;
        .merch_io {
            svg {
                width: 100%;
                margin-top: 2rem;

                text {
                    transform: translateY(30%);
                }
            }
        }
    }
}