@use "../../assets/styles/_core.scss" as *;
@use "../../assets/styles/_mixins.scss" as *;

.footer {
    @include flex-center;
    width: 100%;
    height: 20rem;
    align-self: flex-end;
    justify-self: flex-end;
    background-color: black;
    color: white;
}