// This File is a Scss Partial containing definitions for commonly used set of properties
// to better improve development and modularity in styling.

%flex-center-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
