// This File is a Scss partial containing the variables used in this project 
// Both CSS and Scss variables 

:root {
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* For consistency in the design */
  --border-radius: 0.6rem;

  /* Color scheme */
  --page-background: var(background-color);
  --primary-color: #242424;
  --secondary-color: ;
  --accent-color: ;
}

// MainNav and HOME PAGE
// MAIN NAVIGATION (With drop downs)
$nav-height-desktop: 4rem;
$nav-height-mobile: 3.5rem;
$nav-max-height-desktop: max-content;
$nav-max-height-mobile: max-content;
$main-nav-height: 4rem;
