/* Loading Tailwind layers  
 * The Below syntax is valid for v4 
      `@import "tailwindcss";` 
 */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* General/ Default/ Global overrides */

/* General Resets for consistency */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Ensuring all pointer events are deliberate */
  /* pointer-events: none; */
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* GLOBALE RESETS  */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

button {
  /* Some 'Necessary' resets */
  border: none;
  outline: none
}

/* GLOBAL CLASSES */

.app_container {
  @apply flex items-center justify-center;
  /* From Color scheme  */
  background-color: antiquewhite;
  color: black;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
