.page_container {
  text-align: center;
  padding: 5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #05141B;
  color: #CCD0CF;

  h1 {
    font-size: 6rem;
    font-weight: bold;
    color: #ff6b6b;
  }

  p .text {
    font-style: italic;
  }
}

.back_home {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: #233444;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.2s;
}

.back_home:hover {
  background-color: #455765;
}
